.home-page {
    padding-top: 30px;
    height: 570px;
    background-color: #AB0020;
    background-size: cover;
    background-position: 50%;
}

.home-page-logo{
    color: #FACB33;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.created-by {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AB0020;
    color: #FACB33;
}
 a {
    list-style-type: none;
    padding: 0px .2rem;
    font-size: .9rem;
    color: #FACB33;
}
