.review-page {
    padding: 30px;
    height: 700px;
    width: 800px;
    background-color: #AB0020;
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FACB33;
}

.edit-review-link {
    background-color: #AB0020;
    color: #FACB33;
}

.delete-review-button {
    background-color: #AB0020;
    color: #FACB33;
}

.review-answer {
    color: white;
}
