/* TODO Add site wide styles */
html {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}
