/* .login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 60%;
    width: 65%;
    padding: 12px 12px;
} */

.login-form {
    height: 700px;
    width: 100%;
    background-color: #AB0020;
    color: #FACB33;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    animation: smooth .25s ease-in-out;
}

html {
    background: url(https://c4.wallpaperflare.com/wallpaper/851/447/633/marvel-comics-dc-comics-collage-wonder-woman-wallpaper-preview.jpg);
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
}

.login-button {
    background-color: #AB0020;
    color: #FACB33;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
