#nav-bar {
    margin: 8px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}


#log-in-link {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    margin: 12px;

}

#log-in-link:hover {
    transition: all 0.8s;
    background-color: rgba(200,201,202,1);
}

#sign-up-link {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    margin: 12px;
}

#sign-up-link:hover {
    transition: all 0.8s;
    background-color: rgba(253,7,7,1);
}

#home-page-link {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#demo-button{
    cursor: pointer;
    margin: 12px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    background-color: white;
}

#sessionLinks {
    display: flex;
    align-items: center;
}























































/* .nav-bar{
    background-color: #AB0020;
    padding: 3px;
    float: center;
    text-align: center;
    overflow: hidden;
    font-size: 17px;
    margin: none;
    width: 100%;
}

.nav-div{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 17px;
}

.nav-div > a{
    color: #FACB33;
    text-decoration: none;
    list-style-type: none;
}

.nav-div > a:hover{
   cursor: pointer;
   text-decoration: none;
}

.profile-dropdown {
    list-style-type: none;
}

.home-page-link {
    list-style-type: none;
    position: absolute;
    left: 25%;
    font-size: 20px;
    top: 2.5%
} */
