/* .nav-bar{
    background-color: #AB0020;
    padding: 3px;
    float: center;
    text-align: center;
    overflow: hidden;
    font-size: 17px;
    margin: none;
    width: 100%;
}

.nav-div{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 17px;
}

.nav-div > a{
    color: #FACB33;
    text-decoration: none;
    list-style-type: none;
}

.nav-div > a:hover{
   cursor: pointer;
   text-decoration: none;
}

.profile-dropdown {
    list-style-type: none;
}

.home-page-link {
    list-style-type: none;
    position: absolute;
    left: 25%;
    font-size: 20px;
    top: 2.5%
} */
